<nav class="breadcrumb" aria-label="Breadcrumb">
  <% if (typeof crumbs !== 'undefined') { %>
    <% crumbs.forEach((crumb, i) => { %>
      <% if (i < crumbs.length - 1) { %>
      <a href="<%= crumb.url %>"><%= crumb.label %></a>
      <span class="breadcrumb-sep">/</span>
      <% } else { %>
      <span class="breadcrumb-current"><%= crumb.label %></span>
      <% } %>
    <% }) %>
  <% } %>
</nav>
