<article class="room-card">
  <a href="/whale">
    <% if (room.coverImage) { %><img src="<%= room.coverImage %>" alt="<%= room.name %>"><% } %>
    <h3><%= lang === 'ar' ? room.nameAr : room.name %></h3>
    <span class="room-members"><%= room.memberCount %> members</span>
  </a>
</article>
